<section style="background-color:#d5ebf7;margin-top: 3%; ">
    <div class="container container-main" style="background-color: white;">
        <div style="margin-left: 2%;margin-right: 1%;">
            <h1>Inscrivez-vous</h1>
            <div class="row hidden-xs">
                <div class="col-sm-6 text-center">
                    <img alt="Patient" height="260" src="../../../Images/inscription-patient.jpg" style="width: 237px;height: 237px;">
                </div>
                <div class="col-sm-6 text-center"><img alt="Docteur" height="237" src="../../../Images/doctor-inscription.jpg" style="width: 237px;height: 237px;"></div>
            </div>
            <div class="row signup-options">
                <div class="col-sm-6">
                    <h3>Je suis un nouveau patient</h3>
                    <p>Prenez rendez-vous chez le docteur qu'il vous faut.</p>
                    <a class="btn btn-alternate btn-cta" href="#/inscription">Inscrivez-vous</a>
                </div>
                <div class="col-sm-6">
                    <h3>Je suis un médecin ou un dentiste</h3>
                    <p>AlloTabi vous rend la vie simple et vous aide à développer votre cabinet.</p>
                    <a class="btn btn-warning btn-cta" href="#/inscrirepraticien">Rejoignez AlloTabib</a>
                </div><div class="separator hidden-xs"></div><span class="or hidden-xs">ou</span>
            </div>
        </div>
    </div>
</section>

