<section style="background-color: #4F92BC;margin-top:7%;max-height:100px;height:90px;" class="bloc-web" >
    <h2 style=" color: white;padding-top:1.5%; margin-left: -15px; text-align: center; font-family: 'Amaranth', sans-serif; ">
        Inscription patient ou praticien
    </h2>
</section>
<section style="padding-bottom:5%;" class="section-body">
    <div class=" container container-main boxed-grey" style="background-color: white;margin-bottom:5%;">
        <div style="margin-left: 2%;margin-right: 1%;">
            <h1 style="text-align:center;font-family: 'Amaranth', sans-serif;">Inscrivez-vous</h1>
            <div class="row hidden-xs">
                <div class="col-sm-6 text-center">
                    <img alt="Patient" height="260" src="../../../Images/inscription-patient.jpg" style="width: 237px;height: 237px;">
                </div>
                <div class="col-sm-6 text-center"><img alt="Docteur" height="237" src="../../../Images/doctor-inscription.jpg" style="width: 237px;height: 237px;"></div>
            </div>
            <div class="row signup-options">
                <div class="col-sm-6">
                    <h3 style="font-family: 'Amaranth', sans-serif;">Je suis un nouveau patient</h3>
                    <p style="font-family: 'Amaranth', sans-serif;">Prenez rendez-vous chez le docteur qu'il vous faut.</p>
                    <a class="btn btn-alternate btn-cta" href="#/inscription" style="font-family: 'Amaranth', sans-serif;">Inscrivez-vous</a>
                </div>
                <div class="col-sm-6">
                    <h3 style="font-family: 'Amaranth', sans-serif;">Je suis un médecin ou un dentiste</h3>
                    <p style="font-family: 'Amaranth', sans-serif;">AlloTabib vous rend la vie simple et vous aide à développer votre cabinet.</p>
                    <a class="btn btn-warning btn-cta" href="#/inscrirepraticien" style="font-family: 'Amaranth', sans-serif;">Rejoignez AlloTabib</a>
                </div><div class="separator hidden-xs"></div><span class="or hidden-xs" style="font-family: 'Amaranth', sans-serif;">ou</span>
            </div>
        </div>
    </div>
</section>

