<section style="background-color: #4F92BC;margin-top:7%;max-height:100px;height:90px;" class="bloc-web">
    <h2 style=" color: white;padding-top:1.5%; margin-left: -15px; text-align: center; font-family: 'Amaranth', sans-serif;">
        Services AlloTabib
    </h2>
</section>
<section style="padding-bottom:5%;" class="section-body">

    <div class="contain-wrapper" style="padding-bottom: 10%;margin-bottom: 10%; ">
        <div class="col-sm-6 col-md-4 col-md-offset-4 boxed-grey" style="margin-left:5%;margin-right:5%;">
            <h1 class="text-center" style="margin-left:5%;margin-right:5%;">Ce que vous offre AlloTabib</h1>
            <h2 class="text-center" style="margin-left:5%;margin-right:5%;"> Soyer au rendez vous</h2>
            <div style="margin-left:5%;margin-right:5%;">
                Pouquoi Choisir AlloTabib ?
            </div>
            <p style="text-align: justify;text-justify: inter-word;margin-left:5%;margin-right:5%;">
                C'est une nouvelle plateforme de gestion des rendez-vous médicaux disponible 24h/24 et 7j/7.
            </p>
            <p style="text-align: justify;text-justify: inter-word;margin-left:5%;margin-right:5%;">
                Elle permet au patient d’identifier rapidement le médecin dont il a besoin (localisation géographique et par spécialité) et, en quelques clics, de prendre rendez-vous. Elle offre au médecin l’opportunité de renforcer sa visibilité et de privilégier la vie du cabinet sans perdre le contrôle de son agenda.
            </p>

            <div>
                <img src="../../../Images/rechercheDocteur.JPG" alt="recherche rendez vous" class="border-image" style="width: 100%;height: 100%;" />
            </div>
            <br />
            <div>
                <img src="../../../Images/choisirDocteur.JPG" alt="recherche rendez vous" class="border-image" style="width: 100%;height: 100%;" />
            </div>
            <br />
        </div>
        <br />
        <div style="text-align: center;">
            &nbsp;
        </div>
        <br />
        <div style="text-align: center;">
            <img src="../../../Images/detailsdoctor.jpg" alt="recherche rendez vous" class="border-image" style="width: 50%;height: 50%;" />
        </div>
        <br />
        <div style="text-align: center;">
            <img src="../../../Images/prendreRendezVous.JPG" alt="recherche rendez vous" class="border-image" style="width: 50%;height: 50%;" />
        </div>
        <br /><br />


    </div>
</section>