<div style="padding-bottom: 1%">
    <div class="center">

   <div class="alert alert-danger alert-dismissable" data-ng-show="loginHasErrors"><strong>{{errorMessageLoginTxt}}</strong></div>
        <div data-ng-include="'/app/views/login/loginpage.html'"></div>
        <div class="container">

        </div>
    </div>
</div>
<div class="container">
    <div class="main_grid" style="text-align: center; padding-bottom: 10%; ">

        <div class="top_grid" style="background-color: rgba(29,57,75,0.6)">
            <!-- start top_grid -->
            <div class="col-md-2">
                <img src="../../../Images/sendmail.png" alt="Email" style="width: 100px;height: 100px;" />
            </div>
            <div class="col-md-8 span1_of_1">
                <h2>Vous avez une question ? </h2>
                <h4>Vous pouvez nous contacter à contact@allotabib.net</h4>
            </div>
            <div class="col-md-2">
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>
