<section style="background-color: #4F92BC;margin-top:7%;max-height:100px;height:90px;" class="bloc-web">
    <h2 style=" color: white;padding-top:1.5%; margin-left: -15px; text-align: center; font-family: 'Amaranth', sans-serif;">
        Votre Blog
    </h2>
</section>
<section style="padding-bottom:5%;" class="section-body">
    <div class="container">

        <div class="row">
            <div class="col-md-1">
                <p>
                    <i class="fa fa-user fa-4x"></i>
                </p>
                <p>Juin 04, 2015</p>
            </div>
            <div class="col-md-5">
                <a href="blog-post.html">
                    <img src="http://res.cloudinary.com/allotabib/image/upload/v1433421462/3_kq7exg.jpg" class="img-responsive">
                </a>
            </div>
            <div class="col-md-6">
                <h3>
                    <a href="#/blog">Notre Blog AlloTabib</a>
                </h3>
                <p>
                    par <a href="#">Equipe AlloTabib</a>
                </p>
                <p>
                    Bonjour Dr, ce blog sera votre espace pour publier tous vos conseils médicales aux grands publiques, si vous voulez postuler ici veuillez nous contacter pour activer votre espace.
                </p>
                <!--<a class="btn btn-primary" href="blog-post.html">Read More <i class="fa fa-angle-right"></i></a>-->
            </div>
        </div>
       
        <hr>
        <div class="row">
            <ul class="pager">
                <li class="previous">
                    <a href="#/blog">&larr; Précedent</a>
                </li>
                <li class="next">
                    <a href="#/blog">Suivant &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.container -->
</section>