<section style="background-color: #4F92BC;margin-top:7%;max-height:100px;height:90px;" class="bloc-web">
    <h2 style=" color: white;padding-top:1.5%; margin-left: -15px; text-align: center; font-family: 'Amaranth', sans-serif;">
        Conditions générales d'utilisation de AlloTabib
    </h2>
</section>
<section style="padding-bottom:5%;" class="section-body">
    <div class="container" style=" text-align: justify;text-justify: inter-word;">
        <h2>
            ALLOTABIB
        </h2>
        <h3>
            <b> MENTIONS LEGALES ET CONDITIONS GENERALES D’UTILISATION DE ALLOTABIB</b>
        </h3>
        <div>
            Les présentes mentions légales et conditions générales ont pour objet de définir les conditions et modalités de la mise à la disposition d'un service
            gratuit de recherche de praticiens et de prise de rendez-vous en ligne. Et un service payant pour les praticiens pour gérer les rendez-vous.
        </div>
        <div>
            La plateforme est réservée aux personnes physiques capables d’effectuer une inscription en ligne, majeur plus que 18 ans et utilisé par leurs parents dans
            le cas échéant.
        </div>
        <div>
            <b>1. ACCEPTATION DES CONDITIONS GENERALES</b>
        </div>
        <div>
            L'Utilisateur déclare et reconnaît avoir lu l'intégralité des termes des présentes conditions générales. Pour tous utilisation d’un de des services
            proposés sur la plateforme accessible à l'adresse : "http://www.allotabib.net " (ci-après le Site Internet "www. allotabib.tn") emporte une acceptation sans
            réserve par l'Utilisateur des présentes conditions générales.
        </div>
        <div>
            Si l’Utilisateur n’accepte pas ces conditions, il vous est vivement recommandé de ne pas utiliser le site www.allotabib.tn (ci-après le Site).
        </div>
        <div>
            ALLOTABIB se réserve la possibilité de modifier à tout moment, en tout ou partie, les présentes conditions générales. Il appartient en conséquence à
            l'Utilisateur de consulter régulièrement la dernière version des conditions générales affichée à l'adresse "http://www.allotabib.net/MentionsLegales.html ".
            L'Utilisateur est considéré accepter cette dernière version à chaque nouvelle connexion sur le Site.
        </div>
        <div>
            En cas de non-respect par l'Utilisateur des présentes conditions générales, la société ALLOTABIB se réserve le droit de suspendre sans préavis le compte
            et/ou de lui refuser l'accès.
        </div>
        <div>
            <br />
        </div>
        <div>
            <b>2. MISE EN GARDE</b>
        </div>
        <div>
            La mise en œuvre du Service AlloTabib repose sur la collecte, le traitement et l’hébergement de données de ces utilisateurs (patients ou praticiens) à
            caractère personnel au sens des dispositions de la Loi organique n° 2004-63 du 27 Juillet 2004 portant sur la protection des données à caractère personnel
            (http://www.legislation-securite.tn/fr/node/27881 )
        </div>
        <div>
            Tous les professionnels de santé ayant souscrit un abonnement à la plateforme Allotabib sont susceptibles d’être identifiés lors de la recherche d’un
            praticien.
        </div>
        <div>
            L’Utilisateur reconnait expressément avoir été informé du fait que :
        </div>
        <div>
            - Les praticiens enregistrés dans AlloTabib et sont identifiés dans une recherche ne présentent pas nécessairement l’exhaustivité des professionnels de
            santé compétents et disponibles dans la spécialité et la zone géographique sélectionnées par l’Utilisateur donc il a le choix de chercher dans l’annuaire
            des professionnelles de santé.
        </div>
        <div>
            - En aucun cas, AlloTabib ne valide, ne sélectionne ni ne vérifie la compétence des professionnels de santé abonnés au Service AlloTabib,
        </div>
        <div>
            - AlloTabib n’est en aucun cas responsable d’une quelconque annulation ou indisponibilité du praticien consécutivement à son identification et à la
            programmation d’un rendez-vous via la plateforme AlloTabib, par contre, il aura des notes attribuées à chaque praticien pour déterminer ça et se contente
            d’envoyer des notifications au pire des cas une suspension d’un compte peut probablement sera réalisé.
        </div>
        <div>
            - Chaque abus d’utilisation tel que enregistrement des rendez vous et non présence peut entrainer une suspension du compte pour la non crédibilité. Vous
            être amené à annuler dans 24h dans le site ou plus tard en informant le praticien par téléphone pour supprimer votre rendez vous de notre plateforme.
        </div>
        <div>
            Le praticien expressément avoir été informé du fait que :
        </div>
        <div>
            - L’utilisateur doit se présenter dans son rendez vous et AlloTabib se réserve de suspendre les comptes non crédibles en signalant ça dans notre
            plateforme.
        </div>
        <div>
            - Non responsable des informations saisie par l’utilisateur, l’utilisateur est identifié par son CIN qui est unique.
        </div>
        <div>
            3. Description des services offerts par AlloTabib
        </div>
        <div>
            a. Pourquoi AlloTabib ?
        </div>
        <div>
            La plateforme AlloTabib permet de rechercher les praticiens suivant sa spécialité ou délégation ou gouvernorat, de consulter leur page, d’effectuer une
            prise de rendez vous en ligne en vérifiant les créneaux disponibles chez les praticiens. . L’Utilisateur peut également gérer ses rendez-vous (annulation,
            modification) et suivre l’historique de ses rendez-vous.
        </div>
        <div>
            La plateforme vise à faciliter la mise en relation entre le Patient et son Praticien.
        </div>
        <div>
            b. Gratuité du Service pour le patient
        </div>
        <div>
            Le Service de recherche et de prise de rendez-vous en ligne est proposé gratuitement au patient, il est demandé à créer un compte via le numéro de sa carte
            d’identité qui le permet de créer qu’un seul compte, il est appelé à fournir des informations correctes pour assurer un suivi de la part de son praticien.
            Il est seul et entièrement responsable de l'utilisation des Identifiants le concernant et s'engage à mettre tout en œuvre pour conserver secret ses
            Identifiants et à ne pas les divulguer, à qui que ce soit, sous quelque forme que ce soit.
        </div>
        <div>
            c. Compte praticien
        </div>
        <div>
            L'inscription auprès de l'AlloTabib est gratuite.
        </div>
        <div>
            d. Limitation de la plateforme AlloTabib
        </div>
        <div>
            La plateforme AlloTabib ne pourra être tenue responsable de la non-exécution ou de la mauvaise exécution de la Prestation proposée par le praticien et ne
            pourra être redevable des frais éventuels engagés par le patient dans ce cadre. Le praticien n’exempt ni n’atténue en aucune façon celui-ci de ses
            obligations professionnelles et de sa responsabilité vis-à-vis au patient.
        </div>
        <div>
            e. Garanties de l'Utilisateur
        </div>
        <div>
            L'Utilisateur déclare qu'il connaît parfaitement les caractéristiques et les contraintes de l'Internet. Il reconnaît notamment qu'il est impossible de
            garantir que les données que l'Utilisateur aura transmises via Internet seront entièrement sécurisées. La plateforme AlloTabib ne pourra être tenue
            responsable des incidents qui pourraient découler de cette transmission.
        </div>
        <div>
            En tout état de cause, l'Utilisateur reconnaît expressément et accepte d'utiliser le Site Internet "www.allotabib.tn" à ses propres risques et sous sa
            responsabilité exclusive.
        </div>
        <div>
            <br />
        </div>

    </div>
</section>