<section style="background-color: #4F92BC;margin-top:7%;max-height:100px;height:90px;" class="bloc-web">
    <h2 style=" color: white;padding-top:1.5%; margin-left: -15px; text-align: center; font-family: 'Amaranth', sans-serif;">
        Réservez votre rendez-vous en ligne : étape 2
    </h2>
</section>
<section style="margin-bottom:10%;">
    <div class="margin-mobile"></div>
    <div style="background-color: gainsboro;" >
        <div class="container" style="background-color: white; margin-bottom:100px;">

            <div>
                <img alt="profile picture" src="../../../Images/agenda.png" style="width: 60px;height: 60px;float:left;">

                <h1 class="lead  alert" style="background-color: #99D8DD;border-color:#99D8DD; text-align: center;">Réservez votre rendez-vous en ligne</h1>
            </div>
            <br />
            <div class="col-md-6">
                <img src="../../../Images/rendezvousconfirm.png" alt="confirmer votre rendez vous" style="width: 100%;height: 80%;margin-bottom:20%;" />
                <br /><br />
            </div>
            <div class="col-md-6">

                <div class="panel panel-primary" style="margin-bottom:200px;">

                    <div class="panel-heading" style="text-align: center;">
                        <div>

                            <h4><i class="glyphicon glyphicon-calendar"></i>  Votre rendez-vous :</h4>
                        </div>

                        <div>
                            <strong>{{rendezVousDetails.jour}} {{rendezVousDetails.dateSelectionne}} à {{rendezVousDetails.heurerdv}}</strong>
                        </div>
                        <p>Consultation chez un {{praticien.specialite}}</p>
                    </div>
                    <div class="panel-body" >
                        <div class="row">
                            <div class="col-xs-4">
                                <img alt="profile picture" src="../../../Images/contact.png" style="text-align: center;display: table-cell;vertical-align: middle; width:100%;height:100px;">
                            </div>
                            <div class="col-xs-8" style="text-align: left;">
                                <h4>Dr {{rendezVousDetails.praticien.specialite}}</h4>
                                <strong>
                                    <span itemprop="jobTitle">{{rendezVousDetails.praticien.nomPrenom}}</span>
                                </strong>
                                <p>
                                    {{rendezVousDetails.praticien.adresse}} -  {{rendezVousDetails.praticien.delegation}}  - {{rendezVousDetails.praticien.gouvernerat}}</a>
                                </p>
                                <p>
                                    Téléphone : {{rendezVousDetails.praticien.telephone}}
                                </p>

                            </div>
                        </div>
                        <div>
                            <br />
                            <div class="col-md-6"> <button type="submit" class="btn btn-danger" data-ng-click="cancelAndLeave()" style="float: right;">Annuler</button></div>
                            <div class="col-md-6">  <button type="submit" class="btn btn-success" data-ng-click="openPopupconfirmRdv(rendezVousDetails.praticien.cin,rendezVousDetails.dateSelectionne,rendezVousDetails.heurerdv)" style="float: left;">Confirmer</button></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>