<nav class="navbar navbar-inverse navbar-fixed-top navbar-style" role="navigation" data-ng-controller="navigationController" style="background-color: #0596de; height: 60px;" data-ng-hide="!isAuth" ng-cloak>
    <div id="navbarhide">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header navbar">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">AlloTabib navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="" href="#/calendrier">
                <img src="../../../Images/doctor-dashboard.jpg" class="img-circle" />
                <b class="bienvenueClass">Bienvenue Dr <span ng-bind="nomPrenom"></span></b>
            </a>

            <!--<a data-ng-class="{'active':isActive('/home')}" class="navbar-brand col-md-12" href="#/home">
               <img src="../../../Images/doctor-dashboard.jpg" class="img-circle col-md-6"/>
              <h4 class="col-md-6"><b>Bienvenue Dr {{nomPrenom}}</b></h4></a>-->
        </div>

    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-left sizeTexte">

            <li data-ng-class="{'active':isActive('/calendrier')}">
                <a data-original-title="Espace AlloTabib." class="active" href="#/calendrier"><i class="fa fa-calendar" style="color:white;"></i><span style="color:white;"> Espace AlloTabib</span> </a>
            </li>

            <li data-ng-class="{'active':isActive('/mespatients')}">
                <a data-original-title="Fiches patients." href="#/mespatients"><i class="fa fa-file-archive-o" style="color:white;"></i><span style="color:white;"> Fiches patients</span></a>
            </li>

            <li data-ng-class="{'active':isActive('/moncompte')}">
                <a data-original-title="Mon compte." href="#/moncompte"><i class="fa fa-user-md"></i><span style="color:white;"> Mon compte</span></a>
            </li>

        </ul>

        <ul class="nav navbar-nav navbar-right class-mobile" style="margin-right: 20px;">
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle" data-ng-bind="userName"><i class="fa fa-user"></i><b class="caret"></b></a>
                <ul class="dropdown-menu navbar-nav-ul">
                    <li class="btn btn-info"><a data-ng-click="logout()" href="#/" data-ng-controller="loginController"><span class="fa fa-sign-out icon-space"></span> <span>Déconnexion</span></a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right class-mobile-min" style="margin-right: 20px;">
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-user"></i>  <b class="caret"></b></a>
                <ul class="dropdown-menu navbar-nav-ul">
                    <li class="btn btn-info"><a data-ng-click="logout()" href="#/" data-ng-controller="loginController"><span class="fa fa-sign-out icon-space"></span> <span>Déconnexion</span></a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right class-web" style="margin-right: 20px;">
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle" ><i class=" fa fa-user"></i>  <span data-ng-bind="userName"></span> <b class="caret"></b></a>
                <ul class="dropdown-menu" style="margin-right: 10%;margin-left: 10%;width:200%;">
                    <!-- User image -->
                    <li class="user-header bg-light-blue" style="text-align: center;">
                        <img src="../../../Images/doctor-dashboard.jpg" class="img-circle" alt="User Image" />
                        <p data-ng-bind="userName">
                          

                        </p>
                        <p>
                            <small >Dr <span data-ng-bind="nomPrenom"></span></small>
                        </p>
                    </li>
                    <!-- Menu Body -->
                    <li class="user-body">

                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div style="float: left;margin-left: 10px;margin-right: 10px;">
                            <a href="#/moncompte" class="btn btn-default btn-flat">Profile</a>
                        </div>
                        <div style="float: right; margin-left: 10px; margin-right: 10px;">
                            <a href="#" class="btn btn-default btn-flat" data-ng-click="logout()" data-ng-controller="loginController">Déconnexion</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
    <!-- /.navbar-collapse -->
    <!-- /.container -->
</nav>
