  <div class="container shadow-container">
            <div class="center">
                <h2></h2>
                <p class="lead">Nous avons prévue au démarrage de la plateforme AlloTabib</p>
            </div><!--/.center-->   
            <div class="gap"></div>
            <div id="pricing-table" class="row">
                <div class="span12">
                    <ul class="plan plan3">
                        <li class="plan-name">
                            <h3></h3>
                        </li>
                        <li class="plan-price">
                            <div>
                                <span class="price">Offre</span>
                            </div>
                        </li>
                        <li>
                            <strong>1</strong> Confirmer les rendez vous  passé par un patient dans un calendrier, ce dernier reçevra un email de confirmation.
                        </li>
                        <li>
                            <strong>2</strong> Ajouter d'autres patients qui n'existent pas dans AlloTabib.
                        </li>
                        <li>
                            <strong>3</strong> Consulter des informations générales d'un patient
                        </li>
                        <li>
                            <strong>4</strong> Enregistrer des rendez vous sous format Excel.
                        </li>
                        <li>
                            <strong>5</strong> Imprimer des rendez vous
                        </li>
                        <li class="plan-action">
                            <a href="#" class="btn btn-success" data-ng-click="Buy()" ng-disabled="true"><span class="glyphicon glyphicon-shopping-cart"></span> Acheter</a>
                        </li>
                    </ul>
                </div>
                
            </div> 
        </div>