<form class="well" style="border-top-right-radius: 0px; border-top-left-radius: 0px; padding-top: 5%;">
    <fieldset>
        <table class="table table-striped table-hover">
            <tr>
                <td class="col-md-4">Nom et prénom </td>
                <td style="font-weight: bold">{{selectedPatient.nomPrenom}}</td>
            </tr>
            <tr>
                <td class="col-md-4">CIN </td>
                <td style="font-weight: bold">{{selectedPatient.cin}}</td>
            </tr>
            <tr>
                <td class="col-md-4">Téléphone</td>
                <td style="font-weight: bold">{{selectedPatient.telephone}}</td>
            </tr>
            <tr>
                <td class="col-md-4">Email</td>
                <td style="font-weight: bold">{{selectedPatient.email}}</td>
            </tr>
            <tr>
                <td class="col-md-4">Adresse </td>
                <td style="font-weight: bold">{{selectedPatient.adresse}}</td>
            </tr>
            <tr>
                <td class="col-md-4">Sexe</td>
                <td style="font-weight: bold">{{selectedPatient.sexe}}</td>
            </tr>
         
        </table>
    </fieldset>
</form>